/* �� F12 ������Ա������ɡ�����ܲ���ԭʼԴ�ļ���׼ȷ��ʾ��ʽ��*/
#mdly {
	background: url("./images/mdly.png") no-repeat 0px 0px; padding: 10px 25px; width: 250px; height: 100px; right: 0px; line-height: 32px; overflow: hidden; margin-top: -16px; position: absolute;
}
#mdly a {
	color: rgb(0, 102, 204);
}
#mdly .cp {
	top: 10px; width: 35px; height: 32px; right: 10px; line-height: 100px; overflow: hidden; position: absolute;
}
#mdly label {
	top: 10px; right: 50px; position: absolute; _top: 16px;
}
#mdly h6 {
	line-height: 32px;
}
#mdly h6 strong {
	margin: 0px 3px; color: rgb(242, 108, 79);
}
.cpd#mdly {
	background-position: 0px -128px; padding: 0px; border: currentColor; width: 35px; height: 32px; margin-top: 4px; margin-right: -3px;
}
.cpd#mdly h6 {
	padding-top: 40px;
}
.cpd#mdly .cp {
	display: none;
}
.cpd#mdly #mdct {
	margin: 0px; left: 3px; top: 0px; width: 32px; height: 32px; text-align: center; color: rgb(242, 108, 79); display: block; position: absolute; z-index: 999; cursor: pointer;
}
.pg_viewthread #mdly {
	margin: 20px 0px 0px 10px; padding: 0px; width: 200px; height: auto;
}
.cmen {
	width: 63px; overflow: hidden;
}
.cmen a {
	width: 20px; height: 20px; overflow: hidden; float: left;
}
.tpmh {
	height: 200px;
}
.tpmh .thby {
	margin: 5px 0px 15px;
}
.tpmh .tah_body select {
	width: 217px;
}
.tplw {
	margin-bottom: 1em;
}
.tplw table {
	width: 100%;
}
.tplw td {
	padding: 0px 5px;
}
.tplw .txt {
	width: 100px;
}
.tplw .wide .txt {
	width: 50px;
}
.llst li {
	padding: 4px 0px; border-bottom-color: rgb(205, 205, 205); border-bottom-width: 1px; border-bottom-style: solid;
}
.tm_c {
	
}
.tm_c .o {
	background: rgb(238, 238, 238);
}
.tpclg {
	padding: 8px 0px 4px;
}
.tpclg h4 {
	width: 222px; font-weight: 400;
}
.tpclg h4 span {
	float: left;
}
.tpclg h4 .dpbtn {
	border-width: 1px;
}
.tpclg .pt {
	margin: 5px 0px; width: 212px; overflow: hidden;
}
.tpcl {
	margin: 10px 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.tpcl li {
	height: 28px; line-height: 18px; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; zoom: 1;
}
.tpcl .copt {
	height: auto;
}
.dopt {
	overflow: hidden; white-space: nowrap; visibility: hidden;
}
.copt .dopt {
	visibility: visible;
}
.dopt p .px {
	width: 100px; float: left;
}
.hasd .px {
	width: 100px; float: left;
}
.dopt span .crl {
	border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(112, 112, 112) rgb(206, 206, 206) rgb(206, 206, 206) rgb(171, 171, 171); width: 21px; height: 21px;
}
.tpcl table {
	width: 100%;
}
.tpcl td {
	padding: 5px; vertical-align: top;
}
.tpcl .labeltxt {
	background: url("./images/arrwd.gif") no-repeat 100% 8px; width: 100%; display: block; cursor: pointer;
}
.copt .labeltxt {
	width: 45px; color: rgb(0, 153, 204); float: left; cursor: default;
}
.tpcl .pc {
	margin: 3px;
}
.ie7 .tpcl .pc {
	margin-top: -2px;
}
.tpcl img {
	vertical-align: middle;
}
.tahfx {
	width: 217px; overflow: hidden; white-space: nowrap;
}
.tahfx select {
	width: 160px;
}
#toolbarroot {
	left: 0px; top: 0px; width: 96%; height: 30px; position: fixed; z-index: 9000;
}
#toolbardiv {
	background: rgb(238, 238, 238); padding: 1px; height: 27px; line-height: 27px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; min-width: 980px;
}
#togglediv {
	border: 1px solid rgb(0, 153, 255); top: 3px; width: 22px; height: 22px; text-align: center; right: 5px; position: absolute; z-index: 9998; cursor: pointer;
}
.pg_modcp .tl {
	overflow: visible; min-height: 150px;
}
.ie6 .pg_modcp .tl {
	height: 150px;
}
