@CHARSET "UTF-8";
 div.T9_grid {
  width : 100% ;
  height :100% ;
  overflow:hidden;
  zoom:1;
  position:relative;
  background-color : #FFffff ;
}

.T9_grid_topBar {
	height:15%;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
    overflow:hidden;
	zoom:1;
    position:relative;
}
.T9_grid_data {
  
  width : 100% ;
  height : 70% ;
  BACKGROUND: #FFFFFF;
  COLOR:#000000;
}
.T9_grid.T9_grid_bottomBar {
	height:15%;
	font:normal 11px arial, tahoma, helvetica, sans-serif;
	overflow:hidden;
	zoom:0.9;
    position:relative;
}
.T9_grid_table {
	width : 100% ;
	height : 70% ;
	overflow-y :scroll;
	empty-cells :show;
	text-align:center ;
}
.T9_grid_table.T9_grid_trmout {
	  height : 18px;
	background-color: #E3EBEE;
  	border-color: #91B8F2 #91B8F2 #91B8F2 #91B8F2; 
  	border-style: solid;
  	border-left-width: 0px;
  	border-top-width: 0px; 
  	border-right-width: 0px; 
  	border-bottom-width: 1px;  
  	cursor: hand;
  	FONT-SIZE: 12px;
  	FONT-FAMILY: "宋体";
  	COLOR: #FFFFFF;
}
.tableClass{
	line-height:18px;
    vertical-align:middle;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px;
	padding:3px;
	height : 20px;
	BACKGROUND: url(/t9/core/styles/style1/img/cmp/grid/headerbg.gif) top left repeat-x;
}
.tableDiv{
	line-height:18px;
    vertical-align:middle;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px;
	padding:3px;
	height : 20px;
	BACKGROUND: url(/t9/core/styles/style1/img/cmp/grid/headerbg.gif) top left repeat-x;
}
.T9_grid_table_line1{
	height : 18px;
	vertical-align:middle;
	white-space:normal;
	BACKGROUND: #F6F6F6; 
	FONT-SIZE: 12px;
    FONT-FAMILY: "宋体";
  }
.T9_grid_table_line2{
	 height : 18px;
	 vertical-align:middle;
	 white-space:normal;
	 BACKGROUND: #FFFFFF;
	 FONT-SIZE: 12px;
     FONT-FAMILY: "宋体";
  }
.T9_grid_trmin {
  background-color:#CCDADF; 
  border-color: #0E6F67 #0E6F67 #0E6F67 #0E6F67; 
  border-style: solid; 
  border-left-width: 0px;
  border-top-width: 0px; 
  border-right-width: 0px; 
  border-bottom-width: 1px;
  cursor: hand;
  FONT-SIZE: 12px;
  FONT-FAMILY: "宋体";
  color: #000000;
  border:1px dotted #a3bae9;
  height : 18px;
}
.T9_Grid_OpratePanel{
	
	width : 100% ;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
	overflow:hidden;
	zoom:0.9;
	FONT-SIZE: 12px;
    FONT-FAMILY: "宋体";
    position:relative;
}
.T9_Grid_data_opratePanel_A{
    cursor:pointer;
    cursor:hand;
}
.T9_Grid_OpratePanel_select{
    cursor:pointer;
    cursor:hand;
	width:30%;
	FONT-SIZE: 12px;
    FONT-FAMILY: "宋体";
}
button.T9_grid_bottomBar_firstButton{
	cursor:pointer;
    cursor:hand;
	width:20px;
	height:20px;
	background:url(/t9/core/styles/style1/img/cmp/grid/pageStart.gif) no-repeat;
	border:none;
}
.T9_grid_bottomBar_lastButton{
	cursor:pointer;
    cursor:hand;
    background: url(/t9/core/styles/style1/img/cmp/grid/pageEnd.gif) top right repeat-x;
	width:20px;
	height:20px;

	border:none;
}
.T9_grid_bottomBar_nextButton{
	cursor:pointer;
    cursor:hand;
	width:20px;
	height:20px;
	background: url(/t9/core/styles/style1/img/cmp/grid/pageNext.gif) top right repeat-x;
	border:none;
}
.T9_grid_bottomBar_priButton{
	cursor:pointer;
    cursor:hand;
	width:20px;
	height:20px;
	background: url(/t9/core/styles/style1/img/cmp/grid/pagePrev.gif) top left repeat-x;
	border:none;
	}
.T9_grid_bottomBar_firstButton2{
	cursor:pointer;
    cursor:hand;
	width:20px;
	height:20px;
	background: url(/t9/core/styles/style1/img/cmp/grid/pageStart1.gif) top  left repeat-x;
	border:none;
}
.T9_grid_bottomBar_lastButton2{
	cursor:pointer;
    cursor:hand;
	width:20px;
	height:20px;
	background: url(/t9/core/styles/style1/img/cmp/grid/pageEnd1.gif) top right repeat-x;
	border:none;
}
.T9_grid_bottomBar_nextButton2{
	cursor:pointer;
    cursor:hand;
	width:20px;
	height:20px;
	background: url(/t9/core/styles/style1/img/cmp/grid/pageNext1.gif) top right repeat-x;
	border:none;
}
.T9_grid_bottomBar_priButton2{
	cursor:pointer;
    cursor:hand;
	width:20px;
	height:20px;
	background: url(/t9/core/styles/style1/img/cmp/grid/pagePrev1.gif) top left repeat-x;
	border:none;
	}
div.T9_Grid_data_opratePanel{
		font:normal 11px arial, tahoma, helvetica, sans-serif;
	    overflow:hidden;
	    zoom:0.9;
        position:relative;
	}